.hot-line > h1 {
  padding-top: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #2d2d2d;
}

.footer-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #777777;
}

.footer-links {
  padding: 48px 0px;
  max-width: 800px;
  max-height: 300px;
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.footer-links > div > h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #2d2d2d;
  padding: 5px;
}

.footer-links > div > h1 > a {
  text-decoration: none;
  color: #2d2d2d;
}

.footer-paragraph {
  max-width: 580px;
}
.footer-paragraph > p {
  font-size: 18px;
}

.footer-paragraph > .footer-description {
  padding-bottom: 12px;
}

.adress {
  padding-bottom: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #777777;
}

.license {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #666666;
}

.footer-scial-networks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 110px;
}

.sn-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sn-links > .footer-description {
  padding-right: 22px;
  font-size: 17px;
}

.sn-logos {
  display: flex;
  gap: 10px;
}

@media (max-width: 940px) {
  .footer-scial-networks {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .footer-links > div > h1 {
    font-size: 19px;
    font-weight: 500;
    line-height: 130%;
    font-weight: 500;
    padding: 4px 0px 4px 0px;
  }
  .footer-links {
    margin: 15px 0px;
    max-width: 800px;
    max-height: 300px;
  }

  .footer-paragraph {
    font-weight: 400;
    line-height: 130%;
  }
  .adress {
    padding-bottom: 28px;
    font-weight: 400;
    line-height: 130%;
    color: #777777;
  }

  .hot-line > h1 {
    font-size: 20px;
  }
  .hot-line > p {
    padding-top: 8px;
    font-size: 17px;
  }

  .footer-scial-networks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
  }

  .sn-links {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
  }
  .sn-links > .footer-description {
    padding-top: 28px;
  }

  .sn-logos {
    padding-top: 16px;
    display: flex;
    gap: 10px;
  }

  .sn-logos > img {
    width: 35px;
  }

  .footer-links {
    padding: 0px 0px;
    max-width: 462px;
    max-height: 100px;
  }

  .footer-paragraph,
  .footer-scial-networks {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .footer-links {
    max-width: 320px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .hot-line > h1 {
    font-size: 18px;
  }
  .footer-links > div > h1 > a {
    font-size: 18px;
  }
  .footer-description {
    font-size: 16px;
  }
  .footer-scial-networks {
    flex-direction: column;
    padding-bottom: 60px;
  }
  .sn-links {
    flex-direction: column;
    margin-top: 28px;
    align-items: stretch;
    justify-content: space-between;
  }
  .sn-logos {
    margin-top: 20px;
  }
}
