.gray_container {
  margin-top: 120px;
  background-color: #eeeeee;
}
@media screen and (min-width: 701px) {
  .gray_container {
    display: none;
  }
}

.links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  padding: 27px 0px;
}

.links > li {
  list-style-type: none;
}

.links > li > a {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #2d2d2d;
  transition: 0.2s all;
}

.links > li > a:hover {
  color: #ff5a1e;
}

@media (max-width: 885px) {
  .links > li > a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .gray_container {
    margin: 104px 10px 0 10px;
    background-color: #eeeeee;
    border-radius: 8px;
  }

  .links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    padding: 12px 0px;
  }

  .links > li {
    list-style-type: none;
  }

  .links > li > a {
    text-decoration: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #2d2d2d;
    transition: 0.2s all;
  }
}

@media (max-width: 644px) {
  .links {
    gap: 10px;
  }

  .links > li > a {
    font-size: 12px;
  }
}

@media (max-width: 544px) {
  .links {
    flex-direction: column;
    padding-left: 10px;
    padding: 25px 0;
  }
  .links > li > a {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .links {
    flex-direction: column;
    padding-left: 10px;
  }
  .links > li > a {
    font-size: 16px;
  }
}
