* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  /* background-color: rgb(60, 60, 60); */
  background: #ffffff;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.App {
  background: #ffffff;
}
